table.center {
    margin-left: auto; 
    margin-right: auto;
}

table, tr, td, th {
    padding: 5px 20px;
}

th {
    text-align: center;
}

.options {
    position: fixed;
    left: 10px;
}

#col-ctr {
    text-align: center;
}