<div style="width: 500px; margin: auto;">
    <h3>Add Workshop</h3>
        <form>
            <div class="form-group">
                <label for="start">Start Date</label>
                <input
                    type="date"
                    class="form-control"
                    id="start"
                    required
                    [(ngModel)]="workshop.start"
                    name="start"
                />
            </div>

            <div class="form-group">
                <label for="end">End Date</label>
                <input
                    type="date"
                    class="form-control"
                    id="end"
                    required
                    [(ngModel)]="workshop.end"
                    name="end"
                />
            </div>

            <div class="form-group">
                <label for="meet">Meeting Time</label>
                <input
                    type="time"
                    class="form-control"
                    id="meet"
                    required
                    [(ngModel)]="workshop.meet"
                    name="meet"
                />
            </div>

            <div class="form-group">
                <label for="location">Location</label>
                <input
                    type="text"
                    class="form-control"
                    id="location"
                    required
                    [(ngModel)]="workshop.location"
                    name="location"
                />
            </div>

            <div class="form-group">
                <label for="frequency">Frequency</label>
                <input
                    type="text"
                    class="form-control"
                    id="frequency"
                    required
                    [(ngModel)]="workshop.frequency"
                    name="frequency"
                />
            </div>
        </form>

    <div text-align="center"><button (click)="createWorkshop()" class="btn btn-success">Submit</button></div>

</div>
