<div style="width: 500px; margin: auto;">
    <h4 text-align="center">Add Workshop</h4>

    <form [formGroup]="workshopForm" (ngSubmit)="saveWorkshop(workshopForm)">

        <div class="form-group">
            <label>Start Date</label>
            <input
                type="date"
                formControlName="start"
                class="form-control"
            />
        </div>

        <div class="form-group">
            <label>End Date</label>
            <input
                type="date"
                formControlName="end"
                class="form-control"
            />
        </div>

        <div class="form-group">
            <label>Meeting Time</label>
            <input
                type="time"
                formControlName="meet"
                class="form-control"
            />
        </div>

        <div class="form-group">
            <label>Location</label>
            <input
                type="text"
                formControlName="location"
                class="form-control"
            />
        </div>

        <div class="form-group">
            <label>Frequency</label>
            <input
                type="text"
                formControlName="frequency"
                class="form-control"
            />
        </div>

        <button type="submit" [disabled]="!workshopForm.valid">Submit</button>

    </form>

</div>
