<div>
    <div><table class="center">
        <tr>
            <th>Workshop Dates</th>
            <th>Meet</th>
            <th>Location</th>
            <th>Participants</th>
        </tr>
        <tr>
            <td>{{workshop.start | date:'M/d/yy'}} - {{workshop.end | date:'M/d/yy'}}</td>
            <td>{{workshop.frequency}} {{workshop.meet | string2ampm}}</td>
            <td>{{workshop.location}}</td>
            <td>{{workshop.numofpart}}</td>
        </tr>
    </table></div>
<br><br>
    <table class="center">
        <tr>
            <th>Participant Name</th>
            <th>Address</th>
            <th>Email</th>
            <th>Phone</th>
            <th>View</th>
        </tr>
       <tr *ngFor="let participant of participants">
            <td>{{participant.last_name}}, {{participant.first_name}}</td>
            <td>{{participant.address}}, {{participant.city}}, {{participant.state}}  {{participant.zip}}</td>
            <td>{{participant.email}}</td>
            <td>{{participant.phone | phone}}</td>
            <td><button type="button" class="btn btn-primary" (click)="viewParticipant(participant)"><i class="fa fa-file-text-o"></i></button></td>
        </tr>
    </table>
<br><br>
    <div><table class="center">
        <tr>
            <th>Equipment Name</th>
            <th>Storage Location</th>
            <th>Year</th>
            <th>Image</th>
            <th>Condition</th>
            <th>View</th>
        </tr>
        <tr *ngFor="let equip of equipment">
            <td>{{equip.name}}</td>
            <td>{{equip.storage_loc}}</td>
            <td>{{equip.year}}</td>
            <td><img src="{{equip.image}}"></td>
            <td>{{equip.eq_condition}}</td>
            <td><button type="button" class="btn btn-primary" (click)="viewEquipment(equip)"><i class="fa fa-file-text-o"></i></button></td>
            </tr>
    </table></div>
<br>
    <span class="container">
        <button type="button" class="btn btn-primary" (click)="addParticipant()"><i class="fa fa-plus"></i> Add Participant</button>
    </span>

</div>
