<div style="width: 500px; margin: auto;">
    <h4 text-align="center">Add Equipment</h4>

    <form [formGroup]="equipmentForm" (ngSubmit)="createEquipment(equipmentForm)">

        <div class="form-group">
            <label>Name</label>
            <input
                type="text"
                formControlName="name"
                class="form-control"
            />
        </div>

        <div class="form-group">
            <label>Storage Location</label>
            <input
                type="text"
                formControlName="storage_loc"
                class="form-control"
            />
        </div>

        <div class="form-group">
            <label>Year</label>
            <input
                type="text"
                formControlName="year"
                class="form-control"
            />
        </div>

        <div class="form-group">
            <label>Image</label>
            <input
                type="file"
                formControlName="image"
                class="form-control"
                (change)="onFileSelect($event)"
            />
        </div>

        <div class="form-group">
            <label>Condition</label>
            <input
                type="text"
                formControlName="eq_condition"
                class="form-control"
            />
        </div>

        <button type="submit" [disabled]="!form.valid">Submit</button>

    </form>

</div>
