<div class="form-style-2">
    <div class="form-style-2-heading">Add Participant</div>

    <form [formGroup]="participantForm" (ngSubmit)="createParticipant(participantForm)">

        <div class="form-group">
            <label><span>Workshop</span></label>
            <select formControlName="workshop_id" class="select-field">
                <option value="-1">Unassigned</option>
                <option *ngFor="let workshop of workshops" value="{{workshop.id}}">{{workshop.start | date:'M/d/yy'}} - {{workshop.end | date:'M/d/yy'}} / {{workshop.frequency}} {{workshop.meet | string2ampm}}</option>
            </select>
        </div>

        <div class="form-group">
            <label><span>First Name <span class="required">*</span></span></label>
            <input
                type="text"
                formControlName="first_name"
                class="input-field"
            />
        </div>

        <div class="form-group">
            <label><span>Last Name <span class="required">*</span></span></label>
            <input
                type="text"
                formControlName="last_name"
                class="input-field"
            />
        </div>

        <div class="form-group">
            <label><span>Street Address</span></label>
            <input
                type="text"
                formControlName="address"
                class="input-field"
            />
        </div>

        <div class="form-group">
            <label><span>City</span></label>
            <input
                type="text"
                formControlName="city"
                class="input-field"
            />
        </div>

        <div class="form-group">
            <label><span>State</span></label>
            <input
                type="text"
                formControlName="state"
                class="input-field"
            />
        </div>

        <div class="form-group">
            <label><span>Zip Code</span></label>
            <input
                type="text"
                formControlName="zip"
                class="input-field"
            />
        </div>

        <div class="form-group">
            <label><span>Email Address</span></label>
            <input
                type="text"
                formControlName="email"
                class="input-field"
            />
        </div>

        <div class="form-group">
            <label><span>Phone Number</span></label>
            <input
                type="text"
                formControlName="phone"
                class="input-field"
            />
        </div>

        <div><span></span><button type="submit" [disabled]="!participantForm.valid">Submit</button></div>

    </form>

</div>
