<div class="dateRange">
    <select (change)="setSelection($event)">
        <option value="all">All</option>
        <option value="prior">Past</option>
        <option value="current">Current</option>
        <option value="future">Future</option>
    </select>
</div>
<table class="center">
    <tr>
        <th>Workshop Dates</th>
        <th>Meeting Time</th>
        <th>Location</th>
        <th>Enrolled</th>
        <th>Frequency</th>
    </tr>
    <tr *ngFor="let workshop of workshops">
        <td id="main-column"><a href="javascript:void(0);" (click)="viewWorkshop(workshop)">{{workshop.start | date:'MMMM d, y'}} - {{workshop.end | date:'MMMM d, y'}}</a></td>
        <td>{{workshop.meet | string2ampm}}</td>
        <td>{{workshop.location}}</td>
        <td>{{workshop.numofpart}}</td>
        <td>{{workshop.frequency}}</td>
    </tr>
</table>

